@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --highlight-color: #ffe36e;
}

html,
body {
  @apply bg-bg-main text-text-light;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(120deg, var(--highlight-color) 0%, var(--highlight-color) 100%);
  background-repeat: no-repeat;
  background-size: 0 0.4em;
  background-position: 0 95%;
  transition: background-size 0.3s ease, color 0.3s ease;
}

a:hover {
  background-size: 100% 0.4em;
}
