@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  @apply bg-bg-main text-text-light;
}

a { @apply underline-offset-4; }
a:hover { @apply underline; }
